My workflow 2.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -704,
        -128
      ],
      "id": "37c062af-39cd-4c7e-b5af-543268b0487d",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Nl02KUR2qRXJRrd6mOrEPVSzb5ISiE_g41dTAHN7HAU",
          "mode": "list",
          "cachedResultName": "opportunity_dataset",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Nl02KUR2qRXJRrd6mOrEPVSzb5ISiE_g41dTAHN7HAU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 624440119,
          "mode": "list",
          "cachedResultName": "Opportunities",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Nl02KUR2qRXJRrd6mOrEPVSzb5ISiE_g41dTAHN7HAU/edit#gid=624440119"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -480,
        -128
      ],
      "id": "9fcf7761-b1f5-4dfe-ae00-6afbdfcf70cb",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YQpiAV0t3sFoxVbd",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f98d0447-f13d-4edf-bc8d-a3b011943625",
              "name": "jacob",
              "value": "2nd year Computer Science student. Skills: Python, SQL, Machine Learning basics , NumPy ,Data Analysis. Looking for internship or training roles in India.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -16,
        -128
      ],
      "id": "b185dc13-5369-49da-9857-5c6169a5d9f6",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash-lite",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash-lite"
        },
        "messages": {
          "values": [
            {
              "content": "=User Profile: {{ $node[\"Edit Fields\"].json.jacob }}\n\nBelow are the available job opportunities:\n{{ JSON.stringify($json.data, null, 2) }}\n\nTask:\nCompare the user profile with this list of jobs.\n1. If any jobs match, start your reply with: STRONG_MATCH_FOUND.\n2. List the matching job roles and their links.\n3. If no jobs match, reply with: NO_MATCHES.\n4.Dont hallucinate\n5.Only answer based on the date from inputs\n\n"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        368,
        -128
      ],
      "id": "002aa3b0-8469-40d9-8a9c-cf21304fc795",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "ByxeghsxFToB2dfA",
          "name": "Google Gemini(PaLM) Api account 3"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "1797e9c6-7237-4e78-b182-2527a5b1bbb8",
              "leftValue": "={{ $json.content.parts[0].text }}\n\n\n\n",
              "rightValue": "STRONG_MATCH_FOUND",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": "={{ true }}",
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        736,
        -128
      ],
      "id": "ac2d6bae-ada7-424a-8f58-cd9755d2f21b",
      "name": "If"
    },
    {
      "parameters": {
        "sendTo": "=varunsreekumar10@gmail.com",
        "subject": "Your Personalized Opportunity Digest",
        "message": "={{ ($json.email || '').toString() }}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        928,
        -336
      ],
      "id": "b67b3b3c-b606-49f0-bd89-89d526775f74",
      "name": "Send a message",
      "webhookId": "5fd52c17-d854-4198-8922-f0ec1d1be22a",
      "credentials": {
        "gmailOAuth2": {
          "id": "QKqOHqGOT2VwzGzu",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "varunsreekumar10@gmail.com",
        "subject": "Your Personalized Opportunity Digest",
        "message": "No strong matches today. We will keep checking daily.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        928,
        64
      ],
      "id": "2153b3c5-944f-4b9b-9c12-d762d6b5ee58",
      "name": "Send a message1",
      "webhookId": "23745817-a5e1-437c-be39-ecf55bb4880e",
      "credentials": {
        "gmailOAuth2": {
          "id": "QKqOHqGOT2VwzGzu",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {
          "includeBinaries": false
        }
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -256,
        -128
      ],
      "id": "aa4a26fe-8323-40b6-b413-15c3ef04aa3e",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "jsCode": "const agg = $('Aggregate').first().json;\nconst fields = $input.first().json;\n\nreturn [{\n...agg,\ninput: fields\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        192,
        -128
      ],
      "id": "ed0a22bd-2518-4d52-a058-976afc75fb26",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "48cbd03a-0ac0-463b-ad54-2e856088845c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1717922a2a7d67d2d610f50706035afd6b46d7ccfa43642205dc49e47b91a98b"
  },
  "id": "r1UQXIC9tSNIrIC7",
  "tags": []
}